<html>
    <head>
        <title>
            Mashup
        </title>
        <link rel="stylesheet" href="css.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="https://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>