<h1>Mash it up!</h1>

<form action="/" method="post">
    
    <input type="hidden" name="_csrf" value={{csrf}} />
    
    <label for="url">Url</label>
    <input type="text" name="url" value="http://api.sr.se/api/v2/traffic/messages" />
    <button type="submit">-></button>
</form>

{{mash}}