<html>
    <head>
        <title>Mash</title>
        <link rel="stylesheet" href="/styles/reset.css"></link>
        <link rel="stylesheet" href="/styles/style.css"></link>
    </head>
    <body>
        {{{body}}}
    </body>
</html>